<div class="countdown" [class.countdown--sm]="size === 'sm'" [class.countdown--md]="size === 'md'">
  <div class="countdown__item">
    <span class="countdown__value">{{ days | number:'2.0' }}</span>
    <span class="countdown__label">Days</span>
  </div>
  <span class="countdown__sep">:</span>
  <div class="countdown__item">
    <span class="countdown__value">{{ hours | number:'2.0' }}</span>
    <span class="countdown__label">Hrs</span>
  </div>
  <span class="countdown__sep">:</span>
  <div class="countdown__item">
    <span class="countdown__value">{{ minutes | number:'2.0' }}</span>
    <span class="countdown__label">Min</span>
  </div>
  <span class="countdown__sep">:</span>
  <div class="countdown__item">
    <span class="countdown__value">{{ seconds | number:'2.0' }}</span>
    <span class="countdown__label">Sec</span>
  </div>
</div>
